<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define ExampleDesktop_TargetDir=$(var.ExampleDesktop.TargetDir)?>
	<Product Id="*" Name="WixExample" Language="1033" Version="1.0.0.0" Manufacturer="COS Student" UpgradeCode="fc155443-a1d8-41d2-8395-fa2288235b04">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="WixExample" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="My Example deployment" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<Component Id="ExampleDesktop.exe" Guid="78d840a5-8ebb-4d4b-87ab-891b74c2331b">
			  <File Id="ExampleDesktop.exe" Name="ExampleDesktop.exe" Source="$(var.ExampleDesktop_TargetDir)ExampleDesktop.exe" />
			</Component>
			<Component Id="ExampleDesktop.exe.config" Guid="9e99ee7b-fc6b-4753-a272-aede80105456">
			  <File Id="ExampleDesktop.exe.config" Name="ExampleDesktop.exe.config" Source="$(var.ExampleDesktop_TargetDir)ExampleDesktop.exe.config" />
			</Component>
			<Component Id="mcMath.dll" Guid="2f36a8a6-4777-4f02-ab12-fe719759007c">
			  <File Id="mcMath.dll" Name="mcMath.dll" Source="$(var.ExampleDesktop_TargetDir)mcMath.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
