<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/aa7cd38e-5ec5-4720-899e-656770be342a/resourceGroups/DucAnhTask3-2_group/providers/Microsoft.Web/sites/DucAnhTask3-2</ResourceId>
    <ResourceGroup>DucAnhTask3-2_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ducanhtask3-2-bkexgafgd9dgdnhg.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>256cd686-9c68-41c0-b128-a85e63de2463</ProjectGuid>
    <PublishUrl>https://ducanhtask3-2-bkexgafgd9dgdnhg.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>